/* ======CARD Styling */
.card {
    background-color: #fff;
    width: 330px;
    padding: 20px;
    max-width: 85vw;
    height: 40vh;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.3);
    border: solid grey 1px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

.tinderCards__cardContainer {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

/* .cardContent {
    position: relative;
    width: 100%;
    height: 100%;
} */
.swipe {
    position: absolute;
}

.card_name {
    position: absolute;
    color: white;
    font-size: 30px;
    /* margin: 11px; */
    bottom: 0;
}

/* ======BUTTONS======== */

.swipeButtons .MuiIconButton-root {
    background-color: white;
    border: 0.5px inset grey;
    box-shadow: 1px 5px 1px 0px rgba(0, 0, 0, 0.3) !important;
}

.swipeButtons {
    position: fixed;
    bottom: 23%;
    padding-left: 3%;
    width: 100%;

    justify-content: space-evenly;
}

.swipeButtons_favorite {
    padding: 0.4vw;
    color: #915dd1;
}

.swipeButtons__cancel {
    padding: 0.4vw;
    color: #ec5e6f;
}
