/* -------------------CARD Styling------------------- */
.wholeCard {
    display: flex;
}
.card {
    background-color: #fff;
    width: 400px;
    max-width: 100vw;
    height: 60vh;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px 0 0 10px;
    border-color: grey;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    background-size: cover;
    background-position: center;
}
.descriptionCard {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 5%;
    width: 400px;
    max-width: 100vw;
    height: auto;
    border-color: grey;
    border-radius: 0 10px 10px 0;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
}
.tinderCards__cardContainer {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}
.swipe {
    position: absolute;
}
.card_name {
    position: absolute;
    color: white;
    font-size: 30px;
    bottom: 0;
}
/* -------------------BUTTONS------------------- */
.swipeButtons .MuiIconButton-root {
    background-color: white;
    border: 0.5px inset grey;
    box-shadow: 1px 5px 1px 0px rgba(0, 0, 0, 0.3) !important;
}
.swipeButtons {
    position: fixed;
    display: flex;
    margin-top: 62vh;
    width: 100%;
    justify-content: center;
}
.swipeButtons_favorite {
    padding: 0.4vw;
    color: #915dd1;
}
.swipeButtons__cancel {
    padding: 0.4vw;
    color: #ec5e6f;
}
.likeAndDislikeButtons {
    margin-left: 2%;
}
/* -------------------------tablet size---------------------------- */
@media only screen and (max-width: 960px) {
    .wholeCard {
        flex-direction: column;
        margin-bottom: 20%;
    }
    .card {
        width: 400px;
        height: 400px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
        border-radius: 10px 10px 0 0;
        border-width: 1px 1px 0 1px;
    }
    .descriptionCard {
        width: 400px;
        border-radius: 0 0 10px 10px;
        border-width: 0 1px 1px 1px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    }
    /* .swipeButtons {
        position: fixed;
        display: flex;
        margin-top: 10vh;
        width: 100%;
    } */
}

/* -------------------------mobile size---------------------------- */
@media only screen and (max-width: 600px) {
    .wholeCard {
        flex-direction: column;
        margin-bottom: 20%;
    }
    .card {
        width: 300px;
        height: 300px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
        border-radius: 10px 10px 0 0;
        border-width: 1px 1px 0 1px;
    }
    .descriptionCard {
        width: 300px;
        border-radius: 0 0 10px 10px;
        border-width: 0 1px 1px 1px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    }
    /* .swipeButtons {
        position: fixed;
        display: flex;
        margin-top: 70vh;
        width: 100%;
    } */
}
